<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>demo_jspservlet</display-name>
  <listener>
    <listener-class>com.ekstudy.listener.MyServletContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.ekstudy.listener.MyServletContextAttributeListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.ekstudy.listener.MyHttpSessionListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.ekstudy.listener.MyServletRequestListener</listener-class>
  </listener>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  <filter>
    <filter-name>MyFilter</filter-name>
    <filter-class>com.ekstudy.filter.MyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MyFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>EncodingFillter</filter-name>
    <filter-class>com.ekstudy.filter.EncodingFillter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>GB2312</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFillter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>HelloWorldServlet</servlet-name>
    <servlet-class>com.ekstudy.servlet.HelloWorldServlet</servlet-class>
    <init-param>
      <param-name>username</param-name>
      <param-value>ek</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorldServlet</servlet-name>
    <url-pattern>/servlet/HelloWorldServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReadFileServlet</servlet-name>
    <servlet-class>com.ekstudy.servlet.ReadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadFileServlet</servlet-name>
    <url-pattern>/servlet/ReadFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileSmartUploadServlet</servlet-name>
    <servlet-class>com.ekstudy.servlet.FileSmartUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileSmartUploadServlet</servlet-name>
    <url-pattern>/servlet/FileSmartUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>com.ekstudy.servlet.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/servlet/FileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileUploadReturnListServlet</servlet-name>
    <servlet-class>com.ekstudy.servlet.FileUploadReturnListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadReturnListServlet</servlet-name>
    <url-pattern>/servlet/FileUploadReturnListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileUploadReturnImage</servlet-name>
    <servlet-class>com.ekstudy.servlet.FileUploadReturnImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadReturnImage</servlet-name>
    <url-pattern>/servlet/FileUploadReturnImage</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>